@use "sass:math";
// mobile, tablet and desctop layout width, px
$mobile-width: 414;
$tablet-width: 768;
$desctop-width: 1440;

// calc device vw
@function vw($px, $device-width) {
    @return math.div($px, $device-width) * 100vw;
}

// calc mobile, tablet and desctop vw
@function mob-vw($px) {
    @return vw($px, $mobile-width);
}
@function tabl-vw($px) {
    @return vw($px, $tablet-width);
}
@function desc-vw($px) {
    @return vw($px, $desctop-width);
}

// calc maximum size for device
@function max-px($px, $device-width) {
    @return math.div($px, $device-width) * $max-width;
}
// calc desctop min(<desctop vw>, <maximum size>)
@function desc-min($px) {
    @return min(desc-vw($px), max-px($px, $desctop-width));
}
