// max site width, px
$max-width: 1920px;

// colors
$primary-color: #000000;
$secondary-color: #ffffff;
$black: #000;
$yellow: #fced6d;
$turquoise: #6dfcc9;
$gray: #293041;
$white: #fff;
$pink: #e05d54;
$blue: #001aff;
