@font-face {
	font-family: "Zen Dots";
	src: url("/fonts/Zen-Dots/zen-dots.woff2") format("woff2"),
		url("/fonts/Zen-Dots/zen-dots.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
