/* @font-face {
    font-family: '<NAME>';
    src: url('/fonts/<PATH>.woff2') format('woff2'),
        url('/fonts/<PATH>.woff') format('woff');
    font-weight: <normal, bold..>;
    font-style: <normal, italic..>;
    font-display: swap;
} */
